body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

.page-container {
    background: #fff;
    margin: 0;
    padding: 0;
}

.headerGroup:after {
    filter: grayscale(0);
    display: inline-block;
    opacity: .2;
    width: 700px !important;
}

.content,
.content-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #ffffff;

}

.header,
.header-block {
    height: 175px;
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
    visibility: hidden;
}

.header-table th {
    padding: 5px 5px;
}

.footer,
.footer-block {
    height: 60px;
    background-color: none;
}

footer {
    page-break-after: always;
    height: 100px !important;
}

@page {
    size: A4;
    -webkit-print-color-adjust: exact;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}

.invoice-print {
    width: 95%;
}

.header {
    visibility: visible;
    margin-left: 30px;
    top: 20px;
}

.footer {
    visibility: visible;
}

html,
body {
    border: 1px solid white;
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
}

/* ----for content management in print layout---- */
.no-print {
    display: none !important;
}

.print-only {
    display: block !important;
}

/* ----aditional style----- */
.page {
    margin-right: 2rem;
    margin-left: 2rem;
    page-break-before: always;
}